amazon-braket-default-simulator==1.32.0
amazon-braket-pennylane-plugin==1.33.4
amazon-braket-schemas==1.26.1
amazon-braket-sdk==1.103.0
awscli==1.42.54
botocore==1.40.54
boto3==1.40.54
dask==2024.8.0
matplotlib==3.10.7
numpy==1.26.4
pandas==2.3.3
pennylane==0.42.3
pennylane-lightning==0.42.0
qiskit==2.2.1
qiskit-braket-provider==0.7.0
requests==2.32.5
sagemaker-training==5.1.1
scikit-learn==1.7.2
scipy==1.15.3
