amazon-braket-default-simulator==1.26.2
amazon-braket-pennylane-plugin==1.31.0
amazon-braket-schemas==1.22.4
amazon-braket-sdk==1.88.3
awscli==1.36.18
botocore==1.35.77
boto3==1.35.77
dask==2024.8.0
matplotlib==3.9.3
numpy==1.26.4
pandas==2.2.3
pennylane==0.38.0
PennyLane-Lightning==0.38.0
qiskit-braket-provider==0.4.1
requests==2.32.3
sagemaker-training==4.8.3
scikit-learn==1.6.0
scipy==1.14.1
