amazon-braket-default-simulator==1.26.3
amazon-braket-pennylane-plugin==1.31.2
amazon-braket-schemas==1.23.1
amazon-braket-sdk==1.88.3
awscli==1.37.7
botocore==1.36.7
boto3==1.36.7
dask==2024.8.0
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.3
pennylane==0.38.0
PennyLane-Lightning==0.38.0
qiskit-braket-provider==0.4.1
requests==2.32.3
sagemaker-training==4.8.3
scikit-learn==1.6.1
scipy==1.15.1
