amazon-braket-default-simulator==1.26.5
amazon-braket-pennylane-plugin==1.31.3
amazon-braket-schemas==1.24.0
amazon-braket-sdk==1.91.2
awscli==1.40.22
botocore==1.38.23
boto3==1.38.23
dask==2024.8.0
decorator==5.2.1
h5py==3.13.0
ipykernel==6.29.5
jinja2==3.1.6
keras==2.15.0
markupsafe==3.0.2
matplotlib==3.10.1
numpy==1.26.4
openfermion==1.7.0
pandas==2.2.3
PennyLane==0.38.0
PennyLane-Lightning[gpu]==0.38.0
pydantic==2.11.5
requests==2.32.3
sagemaker-training==4.9.0
scikit-learn==1.6.1
six==1.17.0
scipy==1.15.2
typing_extensions==4.13.2

# https://nvd.nist.gov/vuln/detail/CVE-2023-37920
certifi>=2023.7.22
