amazon-braket-default-simulator==1.24.0
amazon-braket-pennylane-plugin==1.27.6
amazon-braket-schemas==1.22.0
amazon-braket-sdk==1.81.1
awscli==1.33.14
botocore==1.34.132
boto3==1.34.132
dask==2024.6.2
decorator==5.1.1
h5py==3.11.0
ipykernel==6.29.4
jinja2==3.1.4
keras==3.3.3
markupsafe==2.1.5
matplotlib==3.9.0
numpy==2.0.0
openfermion==1.6.1
pandas==2.2.2
PennyLane==0.36.0
PennyLane-Lightning[gpu]==0.36.0
pydantic==2.7.4
requests==2.32.3
sagemaker-training==4.7.4
scikit-learn==1.5.0
six==1.16.0
scipy==1.14.0
typing_extensions==4.12.2

# https://nvd.nist.gov/vuln/detail/CVE-2023-37920
certifi>=2023.7.22
