amazon-braket-default-simulator==1.32.1
amazon-braket-pennylane-plugin==1.33.6
amazon-braket-schemas==1.27.0
amazon-braket-sdk==1.107.0
awscli==1.44.5
botocore==1.42.15
boto3==1.42.15
certifi>=2023.7.22  # https://nvd.nist.gov/vuln/detail/CVE-2023-37920
cudaq==0.13.0
cudaq-qec==0.4.0.post1
cudaq-solvers==0.4.0
dask==2024.8.0
decorator==5.2.1
h5py==3.15.1
ipykernel==7.1.0
jinja2==3.1.6
keras==2.15.0  # keras uses the v2 api
markupsafe==3.0.3
matplotlib==3.10.8
numpy==1.26.4
openfermion==1.7.1
pandas==2.3.3
pennylane==0.42.3
pennylane-lightning[gpu]==0.42.0
pydantic==2.12.5
requests==2.32.5
sagemaker-training==5.1.1
scikit-learn==1.7.2
six==1.17.0
scipy==1.15.3
typing_extensions==4.15.0
