amazon-braket-default-simulator==1.26.0
amazon-braket-pennylane-plugin==1.30.1
amazon-braket-schemas==1.22.3
amazon-braket-sdk==1.88.1
awscli==1.35.24
botocore==1.35.58
boto3==1.35.58
dask==2024.11.1
h5py==3.12.1
ipykernel==6.29.5
jinja2==3.1.4
keras==2.15.0 # keras uses the v2 api
markupsafe==3.0.2
matplotlib==3.9.2
numpy==1.26.4
openfermion==1.6.1
pandas==2.2.3
PennyLane==0.35.1
PennyLane-Lightning==0.35.1
pydantic==2.9.2
requests==2.32.3
sagemaker-training==4.8.1
scikit-learn==1.5.2
six==1.16.0
scipy==1.14.1
typing_extensions==4.12.2
