amazon-braket-default-simulator==1.26.7
amazon-braket-pennylane-plugin==1.31.3
amazon-braket-schemas==1.24.2
amazon-braket-sdk==1.96.0
autoray==0.6.12
awscli==1.41.15
botocore==1.39.15
boto3==1.39.15
dask==2024.8.0
h5py==3.14.0
ipykernel==6.30.0
jinja2==3.1.6
keras==2.15.0 # keras uses the v2 api
markupsafe==3.0.2
matplotlib==3.10.1
numpy==1.26.4
openfermion==1.7.0
pandas==2.3.1
PennyLane==0.38.0
PennyLane-Lightning==0.38.0
pydantic==2.11.7
requests==2.32.4
sagemaker-training==5.0.0
scikit-learn==1.6.1
six==1.17.0
scipy==1.15.2
typing_extensions==4.14.1
