amazon-braket-default-simulator==1.23.2
amazon-braket-pennylane-plugin==1.27.4
amazon-braket-schemas==1.22.0
amazon-braket-sdk==1.80.1
awscli==1.33.5
botocore==1.34.123
boto3==1.34.123
dask==2024.5.2
h5py==3.11.0
ipykernel==6.29.4
jinja2==3.1.4
keras==3.3.3
markupsafe==2.1.5
matplotlib==3.9.0
numpy==1.26.4
openfermion==1.6.1
pandas==2.2.2
PennyLane==0.36.0
PennyLane-Lightning==0.36.0
pydantic==2.7.3
requests==2.32.3
sagemaker-training==4.7.4
scikit-learn==1.5.0
six==1.16.0
scipy==1.13.1
typing_extensions==4.12.2
