amazon-braket-default-simulator==1.39.2
amazon-braket-pennylane-plugin==1.34.1
amazon-braket-schemas==1.29.1
amazon-braket-sdk==1.117.2
awscli==1.45.7
botocore==1.43.7
boto3==1.43.7
cudaq==0.14.2
cudaq-qec==0.6.0
cudaq-solvers==0.6.0
dask==2024.8.0
matplotlib==3.10.9
mpi4py
numpy==2.2.6
pandas==2.3.3
pennylane==0.45.0
pennylane-lightning==0.45.0
qiskit==2.4.1
qiskit-braket-provider==0.14.3
requests==2.32.5
sagemaker-training==5.1.1
scikit-learn==1.8.0
scipy==1.17.1
