amazon-braket-default-simulator==1.33.0
amazon-braket-pennylane-plugin==1.33.7
amazon-braket-schemas==1.28.0
amazon-braket-sdk==1.110.1
awscli==1.44.24
botocore==1.42.34
boto3==1.42.34
dask==2024.8.0
h5py==3.15.1
ipykernel==7.1.0
jinja2==3.1.6
markupsafe==3.0.3
matplotlib==3.10.8
numpy==2.2.6
openfermion==1.7.1
pandas==3.0.0
pennylane==0.44.0
pennylane-lightning==0.44.0
pydantic==2.12.5
requests==2.32.5
sagemaker-training==5.1.1
scikit-learn==1.8.0
six==1.17.0
scipy==1.17.0
typing_extensions==4.15.0
