name: Build requirements

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: ["base/jobs/docker/*/py3/requirements.txt", "pytorch/jobs/docker/*/py3/requirements.txt", "tensorflow/jobs/docker/*/py3/requirements.txt", "cudaq/jobs/docker/*/py3/requirements.txt"]
    steps:
      - uses: actions/checkout@v5
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12' # install the python version needed
          
      - name: Install dependencies
        run: |
            pip install -r ${{ matrix.path }}
