name: Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  AWS_REGION : "us-east-1"
  REGION : "us-east-1"
  AMZN_BRAKET_OUT_S3_BUCKET : ${{ secrets.BUCKET_NAME }}
  REPOSITORY_NAME : ${{ secrets.REPOSITORY_NAME }}
  ACCOUNT_ID : ${{ secrets.ACCOUNT_ID }}
  BUILD_RESULTS_PATH : "build_results.txt"

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  build:
    strategy:
      matrix:
        container-type: ["base", "pytorch", "tensorflow"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
    - uses: ./.github/actions/build-container
      with:
        container-type: ${{ matrix.container-type }}
        python-version: "3.12"

  build-cudaq:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
    - uses: ./.github/actions/build-container
      with:
        container-type: "cudaq"
        python-version: "3.12"
